<footer class="footer clearfix">
	<div class="copyright left">
		&#169; 2017 Packlink.es
	</div>
	<div class="security right">
		<p>Secure payment guaranteed</p>
		<div class="secure-payment">
			<div class="left">
				<img src="content/images/credit-card-1.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-2.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-3.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-1.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-2.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-3.png" class="pay-providers"></img>
			</div>
			<div class="left">
				<img src="content/images/credit-card-1.png" class="pay-providers"></img>
			</div>
		</div>
	</div>	
</footer>