<nav class="navbar navbar-inverse" role="navigation">
    <div class="top-nav navbar-header">
        <a href="/" class="navbar-brand"><img class="packlink-logo" src="content/images/packlink.png"></img>
        </a>
    </div>
    <ul class="top-nav nav navbar-nav">
        <li class="package">
            <img class="package-icon" src="content/images/box.png"></img><span> X 2</span>
        </li>
        <li class="package-transit">
            <div class="transit-from left">
                <span>Spain</span>
                <br />
                <span>03340</span>
            </div>
            <div class="arrow left">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="transit-to left">
                <span>United Kingdom</span>
                <br />
                <span>48890</span>
            </div>
        </li>
    </ul>
</nav>
